.plum {
	background-color: #5e0231;
}
.plum-text {
	color: #5e0231;
}

.mint {
	background-color: #c0dfd9;
}

.lav {
	background-color: #dbc3d0;
}

#main-head {
	background-image:url('../static/back2.png');
	background-size:cover;
}

.ad-col {
	background-color: rgba(255,255,255, 0.75);
}

.ad-col i {
	padding-top: 30px;
}

.ad-col p {
	font-size: 20px;
	padding: 0px 40px 10px;
}

.scroll {
	overflow: scroll;
}

#content #mar-notes {
	min-height: 100vh;
	position: fixed;
}

#mar-notes #add-note, #mar-notes #write-note {
	margin-top: 10px;
}

#mar-notes #note-input {
	width: 80%;
	float: left;
}

#mar-notes #note-panel {
	height: 500px;
	clear: both;
}

.comment {
	text-decoration: underline;
}

#mar-comments .comment-block {
	opacity: 0.85;
}

#content #mar-comments {
	min-height: 100vh;
}
