<!-- About page -->

{% extends "master.html" %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="card-panel white-text teal lighten-2"><h5 class="flow-text center-align">Marginalia is a chrome extension used to annotate articles. There are many extensions and webapps that allows people to take notes on articles, however, almost none of them allows for annotation. With this extension, you can freely markup the text as well as take general notes on a side panel.</h5></div>
	
	<h4>How to Use</h4>
	<h5>Adding Articles</h5>
	<img class="about" src="../static/favicon.png">
	<p>To add an article to your Marginalia account, first open the page in Chrome. If you've downloaded the Marginalia extension, you'll notice a button with our logo on the upper right corner of the browser. Click on this button, and the current page open will be saved to your account. You can visit the Pages tab to see a list of all your saved webpages.</p>
	<h5>Managing Articles</h5>
	<img class="about" src="../static/about_manage.png">
	<p>On the Pages tab, you can manage a list of all your saved webpages. To make an article publicly viewable, click on the switch on the right side of the article listing. A link to share the article will appear below the title. The article can be toggled between private and public mode by clicking the switch any number of times. To remove an article, click on the red trash button at the right end of the article listing.</p>
	<h5>Annotating Articles</h5>
	<img class="about" src="../static/about_annot.png">
	<p>For each saved article, you can comment on or highlight a portion of text. Select the text you would like to annotate with your mouse, and a purple menu will appear. To add a comment, click on the left icon, or press keyboard shortcut <kbd>Ctrl-Alt-c</kbd>. The new comment will appear on the right side of the page, color-coded to match the commented on text. To highlight the text, click on the right icon, or press keyboard shortcut <kbd>Ctrl-Alt-h</kbd>. On the left side of the page, you can write and save general notes on the article as a whole.</p>

	<h4>The Marginalia Overlords</h4>
	<table class="bordered">
		<thread>
			<tr>
				<th>Role</th>
				<th>Name</th>
				<th>GitHub</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Leader</td>
				<td>Yicheng Wang</td>
				<td><a href="https://github.com/alex-wyc">alex-wyc</a></td>
			</tr>
			<tr>
				<td>Frontend</td>
				<td>Ariel Levy</td>
				<td><a href="https://github.com/askyel">askyel</a></td>
			</tr>
			<tr>
				<td>Middleware & Backend</td>
				<td>Jeffrey Zou</td>
				<td><a href="https://github.com/JeffreyZou13">JeffreyZou13</a></td>
			</tr>
			<tr>
				<td>Middleware & Backend</td>
				<td>Alice Xue</td>
				<td><a href="https://github.com/alicexue">alicexue</a></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
