<!-- About page -->

{% extends "master.html" %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="card-panel white-text teal lighten-2"><h5 class="flow-text center-align">Marginalia is a chrome extension used to annotate articles. There are many extensions and webapps that allow people to take notes on articles. However, almost none of them allow for annotation. With this extension, you can freely markup the text as well as take general notes on a side panel.</h5></div>

    <h4>Here's a Brief Introduction</h4>
    <center>
    <iframe width="800" height="450"
                        src="http://www.youtube.com/embed/OBCynq96As0?autoplay=1"></iframe>
    </center>
	
	<h4>How to Use</h4>
	<h5>Adding Articles</h5>
	<img class="about" src="../static/favicon.png">
	<p>To add an article to your Marginalia account, first open the page in
	Chrome. If you have already downloaded the Marginalia extension, you'll notice a
	button with our logo on the upper right corner of the browser (and if you
    need to download it, click <a href='../static/extension.crx'>here</a>, and
    click <a
    target="_blank" href='http://www.howtogeek.com/120743/how-to-install-extensions-from-outside-the-chrome-web-store/'>here</a>
    for an installation tutorial). When you click on this
	button, the current page that is open will be saved to your account. You can
	visit the Pages tab to see a list of all your saved webpages.</p>
	<h5>Managing Articles</h5>
	<img class="about" src="../static/about_manage.png">
	<p>On the Pages tab, you can manage a list of all your saved webpages. To make an article publicly viewable, click on the switch on the right side of the article listing. A link to share the article will appear below the title. The article can be toggled between private and public modes by clicking the switch any number of times. To remove an article, click on the red trash button at the right end of the article listing.</p>
	<h5>Annotating Articles</h5>
	<img class="about" src="../static/about_annot.png">
	<p>For each saved article, you can comment on or highlight a portion of text. Select the text you would like to annotate with your mouse, and a purple menu will appear. To add a comment, click on the left icon or press keyboard shortcut <kbd>Ctrl-Alt-c</kbd>. The new comment will appear on the right side of the page, color-coded to match the commented text. To highlight the text, click on the right icon, or press keyboard shortcut <kbd>Ctrl-Alt-h</kbd>. On the left side of the page, you can write and save general notes on the article as a whole.</p>

    <h4>Example Annotation</h4>
    <p>Here are some examples of annotated articles:</p>
    <ul>
        <li><a href="http://marginalia.alex-wyc.me/share/3">The report and summary
                of a massive DDoS attack as made by ProtonMail, a private email
                service provider</a></li>
        <li><a href="http://marginalia.alex-wyc.me/share/6">A report from National
                Geographic summarizing why skiers get caught in
                avalances</a></li>
        <li><a href="http://marginalia.alex-wyc.me/share/8">An editorial from the
                Atlantic about the effect of the lack of sun on people's mental
                health</a></li>
    </ul>

	<h4>The Marginalia Overlords</h4>
	<table class="bordered">
		<thread>
			<tr>
				<th>Role</th>
				<th>Name</th>
				<th>GitHub</th>
			</tr>
		</thread>
		<tbody>
			<tr>
				<td>Leader</td>
				<td>Yicheng Wang</td>
				<td><a href="https://github.com/alex-wyc">alex-wyc</a></td>
			</tr>
			<tr>
				<td>Frontend</td>
				<td>Ariel Levy</td>
				<td><a href="https://github.com/askyel">askyel</a></td>
			</tr>
			<tr>
				<td>Middleware & Backend</td>
				<td>Jeffrey Zou</td>
				<td><a href="https://github.com/JeffreyZou13">JeffreyZou13</a></td>
			</tr>
			<tr>
				<td>Middleware & Backend</td>
				<td>Alice Xue</td>
				<td><a href="https://github.com/alicexue">alicexue</a></td>
			</tr>
		</tbody>
	</table>
	<p>Send us your comments or concerns at <a href="mailto:marginalia.overlords@gmail.com">marginalia.overlords@gmail.com</a>!</p>
</div>
{% endblock %}
