<!-- Marginalia home page -->

{% extends "master.html" %}
{% set active_page = "index" %}

{% block title %}TITLE{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="row center-align">
	<div class="col s12 teal white-text" style="height:40vh;">
		<h1 class="valign" style="margin-top:10vh">Welcome to Marginalia!</h1>
		<a class="waves-effect waves-light btn-large teal lighten-2">Get Started</a>
	</div>
	<div class="col s4" style="padding:30px 40px 10px">
		<i class="large material-icons">comment</i>
		<h4>Margin Annotation</h4>
		<p class="teal-text" style="font-size:20px">Add notes and comments on specific sections of article text to page margins.</p>
	</div>
	<div class="col s4" style="padding:30px 40px 10px">
		<i class="large material-icons">visibility</i>
		<h4>Versatile Storage</h4>
		<p class="teal-text" style="font-size:20px">Save annotated articles on the cloud and locally for offline reading.</p>
	</div>
	<div class="col s4" style="padding:30px 40px 10px">
		<i class="large material-icons">language</i>
		<h4>Global Sharing</h4>
		<p class="teal-text" style="font-size:20px">Get a permalink of annotated articles to share your work with the world.</p>
	</div>
</div>
{% endblock %}
