<!-- Displays all sites of user -->

{% extends "master.html" %}
{% set active_page="view" %}

{% block title %}Pages{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
	<h4 style="padding-top:5vh">Pages</h4>

	<div class="collection scroll" style="height:65vh">
        {% for site in sites %}
        <a href="/view/{{site[0]}}" class="collection-item avatar">
            <i class="material-icons circle teal lighten-2">comment</i>
            <h5 class="black-text">{{site[1]}}</h5>
        </a>
        {% endfor %}
	</div>
</div>
{% endblock %}
