<!-- Displays all sites of user -->

{% extends "master.html" %}
{% set active_page="view" %}

{% block title %}Pages{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <ul class="collection">
        <li class="collection-header"><h4>Your Sites</h4></li>
        {% for site in sites %}
        <li class="collection-item">
        <div>
            <a href="/view/{{site[0]}}">
                <span class="view-title black-text">{{site[1]}}</span>
                <a href="#" class="secondary-content">
                    <i class="material-icons red-text">delete</i>
                </a>
                <div class='switch sharing secondary-content'
                    style='margin-right:20px' id='shared-{{site[0]}}'>
                    <label>Private<input type="checkbox"
                        {% if site[2] %}
                        checked="checked"
                        {% endif %}>
                        <span class="lever"></span>Public</label>
                </div>
            </a>
        </div>
        {% endfor %}
    </ul>
</div>
<script type="/text/javascript" src='../static/view.js'></script>
{% endblock %}
